.navbar {
    background-color: #40275E;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: .9em .4em;
    display: inline-block;
}

.navbar li a {
    color: #F2F4F6;
    text-decoration: none;
    display: block;
    padding: .7em 1em;
}

.derecha {
    float: right;
    border-radius: .5em;
    background-color: #614485;
    /* background-color: #8B69B5; */
}

.derecha:hover {
    background-color: #8B69B5;
}

#cuenta {
    float: right;
    background-color: #546071;
    border-radius: .5em;
}

#cuenta:hover {
    background-color: #9BA5B5;
}